{% extends "blog/base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block body %}
{% if user.is_authenticated %}

<body xmlns="http://www.w3.org/1999/html">

<h1 style="color:yellow;font-size: 48px; text-align:center">Homepage</h1>


<div >
<form class="form-inline my-2 my-lg-0" method="post" action="{% url 'blog:sortques' user.username %}" >
      {% csrf_token %}
<!--	        <label>Select Question Tag</label>-->
	        <select class="form-control select2" name="search">
                <option value="">Sort By</option>
	           <option value="All" >All</option>
	           <option value="Preferences" >Preferences</option>
	        </select>&nbsp&nbsp
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>
<br>

{% for ques,v,b,size in data %}
<div class="container ctr">

<div class="movie_card card " id="bright">
  <div class="info_section">
    <div class="movie_header">

      {% if ques.tags == 0 %}  <img class="locandina" img src="{% static "blog/0.jpg" %}" alt="My image"  />
      {% elif ques.tags == 1 %}<img class="locandina" img src="{% static "blog/1.jpg" %}" alt="My image"  />
      {% elif ques.tags == 2 %}<img class="locandina" img src="{% static "blog/2.jpg" %}" alt="My image"  />
      {% elif ques.tags == 3 %}<img class="locandina" img src="{% static "blog/3.jpg" %}" alt="My image"  />
      {% elif ques.tags == 4 %}<img class="locandina" img src="{% static "blog/4.jpg" %}" alt="My image"  />
      {% elif ques.tags == 5 %}<img class="locandina" img src="{% static "blog/5.jpg" %}" alt="My image"  />
      {% endif %}





      <h1>{{ques.title }}</h1>
        <h4>by.- <a href="{% url 'blog:userinfo' user.username ques.User.username %}">{{ques.User}}</a></h4>
      <span class="minutes">
          {% if not b %}
            <a href = "{% url 'blog:removebookmark' ques.id user.username 0 %}"><img src="{% static "blog/bookmark.png" %}" alt="My image" width="25" height="25" ></a><br>
       {% else %}
            <a href = "{% url 'blog:bookmark' ques.id user.username 0 %}"> <img src="{% static "blog/Unbookmark.png" %}" alt="My image" width="25" height="25" ></a><br>
      {% endif %}

      </span>



        {% if user.username == ques.User.username %}
            &nbsp&nbsp
            <button type="button" class="btn btn-default btn-sm">
                <a href="{% url 'blog:deleteques' ques.id user.username 0 %}" style="text-decoration: none;"><i class="fas fa-trash"></i></a>
            </button>
        {% endif %}

        &nbsp&nbsp&nbsp

        <a href="{% url 'blog:ssearch' user.username ques.tags %}">
                <button type="button" class="btn btn-warning">
                        <font color="blue">
                        <i class="far fa-share-square">
                          {% if ques.tags == 0 %}Department
                          {% elif ques.tags == 1 %}Clubs
                          {% elif ques.tags == 2 %}placements
                          {% elif ques.tags == 3 %}fests
                          {% elif ques.tags == 4 %}hostel
                          {% elif ques.tags == 5 %}general{% endif %}<br>
                        </i>
                        </font>
                </button>
            </a>


    </div>
    <div class="movie_desc">

      <p class="text bdy" word-wrap="break-word" >
        {{ques.question}}
         </p></div>

    <div class="movie_social">
      <ul>

          <li><i class="material-icons">
          {% if not v %}
                        <a href = "{% url 'blog:quesdownvote' ques.id user.username 0 %}"><img src="{% static "blog/Like.ico" %}" alt="My image" width="25" height="25" ></a>
                 {% else %}
                        <a href = "{% url 'blog:quesvote' ques.id user.username 0 %}"><img src="{% static "blog/Unlike.png" %}" alt="My image" width="25" height="25" ></a>
                 {% endif %}

          <a href="{% url 'blog:allvote' ques.id user.username %}"  >{{ques.votes}}</a>&nbsp&nbsp</i></li>
        <li><i class="material-icons">
            <button type="button" class="btn btn-default btn-sm">
                        <i class="far fa-comment-alt"><a href="{% url 'blog:ans' ques.id user.username %}" style="text-decoration: none;">&nbsp{{size}}&nbsp&nbspComment</a></i>
            </button>

        </i></li>

        <li><i class="material-icons"><div class="float-right">
            <footer class="blockquote-footer float-right" ><cite title="Source Title">{{ques.created_on}}</cite></footer>
        </div></i></li>
      </ul>
    </div>
  </div>
  <div class="blur_back bright_back"></div>
</div>

</div>
{% endfor %}



{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'accounts:login' %}">login</a>
{% endif %}

</body>
{% endblock body %}
